.footer {
    padding: 2rem;
    text-align: center;
    background-color: var(--snd-bg-color);
  }
  
  .footer-content p {
    font-size: 1.6rem;
    margin-bottom: 1rem;
    color: var(--text-color);
  }
  
  .social-icons a {
    margin: 0 1rem;
    font-size: 2.5rem;
    color: var(--text-color);
    transition: color 0.3s ease;
  }
  .social-icons {
    justify-content: flex-end;
  
  .social-icons a:hover {
    color: var(--main-color);
  }
  
  .footer-iconTop a {
    font-size: 2.4rem;
    color: var(--main-color);
    transition: color 0.3s ease;
  }
  
  .footer-iconTop a:hover {
    color: var(--text-color);
  }
}